@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap");
:root {
  --primary-color: limegreen;
  --secondary-color: #ba160c;
  --secondary-color-dark: #7a3c3c;
  --metamask-color-orange: #F5841F;
  --off-gray-color: #EFEFEF;
  --tertiary-color: #73c2fb;
}

body {
  background: var(--off-gray-color);
  margin: 0;
  font-family: "Open Sans";
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: 700;
  color: black;
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--primary-color);
}

.navbar nav {
  display: none;
}

.navbar .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
}

a {
  color: #312e2e;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subheading {
  text-transform: uppercase;
  font-size: 0.75em;
  font-weight: 700;
  color: gray;
  letter-spacing: 0.15em;
}

.left-col h1 {
  font-size: 2.5em;
  line-height: 1.2em;
  margin-top: 0.2em;
}

.left-col h1 .DeIns-title {
  font-style: italic;
  font-weight: 600;
  font-size: 0.585em;
  margin-top: 0.3em;
  line-height: 1em;
}

.left-col span {
  color: var(--primary-color);
}

.left-col .primary-cta {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  font-size: 0.9em;
  border-radius: 5em;
  font-weight: 600;
  display: inline-block;
}

.left-col .watch-video-cta {
  background: var(--secondary-color);
  padding: 0.575em 0em;
  margin-left: 0.5em;
  margin-top: 0.95em;
  border-radius: 5em;
  display: inline-block;
  width: unset;
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 0.9em;
}

.left-col .watch-video-cta img {
  margin-right: 0.2em;
  width: 4%;
  padding: 0 0 0 0;
  margin-bottom: -0.125em;
}

.hero-img {
  margin-top: 1.1em;
  width: 40%;
}

@media only screen and (max-width: 98500px) {
  section.contract-interaction {
    padding-top: 5em;
    background: #e9e9e9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  section.contract-interaction h2 {
    margin-bottom: 2em;
  }
  section.contract-interaction button {
    background-color: var(--tertiary-color);
    border: 0;
    border-radius: 5em;
    color: black;
    padding: 0.25em 0.5em;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
  }
  section.contract-interaction label {
    font-size: large;
    font-weight: 700;
    text-align: left;
  }
  section.contract-interaction .label-months, section.contract-interaction .label-tokens-amount {
    display: inline;
    font-weight: 600;
  }
  section.contract-interaction button.submit-new-insurance-plan {
    display: block;
  }
  section.contract-interaction li.interact-left input {
    margin-left: 0.5em;
    width: 8em;
    height: 2.1em;
    padding-bottom: 0.5em;
  }
  section.contract-interaction ul.interact-right {
    display: none;
  }
  section.contract-interaction li {
    margin-top: 2em;
  }
  section.contract-interaction select {
    padding: 0.15em;
    font-size: large;
    border: 2px solid black;
    border-radius: 5em;
    cursor: pointer;
  }
  section.contract-interaction .policy-details-li {
    display: block;
    font-size: large;
    font-weight: 600;
  }
  section.contract-interaction .pay-now, section.contract-interaction .request-payout {
    margin-right: 0.75em;
  }
  section.contract-interaction:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 2.5em;
    background: var(--secondary-color-dark);
    right: 0;
    margin-top: -7em;
  }
}

section.features {
  background: var(--tertiary-color);
  font-weight: 600;
}

section.features ul {
  margin: 0;
  padding-left: 0.1em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(19rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
}

section.features ul li {
  font-size: 1.1em;
  margin-bottom: 1em;
  margin-top: 2em;
  position: relative;
  margin-left: 0.85em;
}

section.features ul li:before {
  content: '';
  position: absolute;
  left: -1.65em;
  width: 20px;
  height: 20px;
  background-image: url(../assets/bullet.svg);
  background-size: contain;
  margin-right: 0.75em;
  margin-top: 0.15em;
}

.features h2 {
  color: black;
}

.features:before {
  content: '';
  position: absolute;
  width: 50%;
  height: 2.5em;
  background: var(--secondary-color-dark);
  left: 0;
  margin-top: -5.5em;
}

.features:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 2.5em;
  background: var(--secondary-color-dark);
  right: 0;
  margin-top: 3em;
}

.testimonials {
  background: #cc6666;
  color: white;
}

.testimonials h2 {
  color: var(--off-gray-color);
}

.testimonials:after {
  content: '';
  position: absolute;
  width: 50%;
  height: 2.5em;
  background: var(--secondary-color-dark);
  left: 0;
  margin-top: 4.5em;
}

.testimonials li {
  background: var(--secondary-color-dark);
  text-align: center;
  padding: 2em 1em;
  width: 80%;
  margin: 5em auto 5em auto;
  border-radius: 1em;
}

.testimonials li img {
  width: 5em;
  height: 5em;
  border: 5px solid var(--secondary-color-dark);
  border-radius: 50%;
  margin-top: -4.5em;
}

h2 {
  font-size: 2em;
}

label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 0.5em;
}

input, textarea {
  width: 100%;
  padding: 0.8em;
  margin-bottom: 1em;
  border-radius: 0.3em;
  border: 1px solid gray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input[type="submit"] {
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  font-size: 1.3em;
  border: none;
  margin-bottom: 5em;
  border-radius: 5em;
  display: inline-block;
  padding: 0.8em 2em;
  width: unset;
  cursor: pointer;
}

iframe {
  width: 100%;
  height: 300px;
}

nav.mobile-menu {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: gray;
  padding: 1em;
  height: 100vh;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}

nav li:hover {
  font-weight: 700;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

@media only screen and (min-width: 700px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
        grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding: 0;
    /*li.get-metamask a {
            color: orange;
            border: 3px solid orange;
            font-weight: 700;
            border-radius: 5em;
            margin-top: -0.2em;
        }*/
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: 700;
  }
}

@media only screen and (min-width: 985px) {
  .container {
    width: 900px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .hero .container .watch-video-cta {
    padding: 1em;
    text-align: center;
    margin-right: 1em;
  }
  .hero .container .watch-video-cta img {
    margin-bottom: 0.1em;
  }
  .hero .container .primary-cta {
    margin-right: 0.5em;
    padding-top: 0.75em;
    text-align: center;
    display: inline;
  }
  .hero-img {
    width: 30%;
    margin-right: 8em;
  }
  .hero-cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contract-interaction {
    padding-top: 7em;
    background: var(--primary-color);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contract-interaction h2 {
    display: inline-block;
    margin-bottom: 2em;
  }
  .contract-interaction ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
  .contract-interaction label {
    font-weight: 600;
  }
  .contract-interaction button {
    background-color: var(--tertiary-color);
    border: 0;
    border-radius: 5em;
    color: black;
    padding: 0.25em 0.5em;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
    margin-top: 0.5em;
    margin-left: 2.75em;
  }
  .contract-interaction .submit-new-insurance-plan {
    margin-left: 0.2em;
  }
  .contract-interaction select {
    padding: 0.15em;
    font-size: large;
    border: 2px solid black;
    border-radius: 5em;
    cursor: pointer;
    margin-left: -1em;
  }
  .contract-interaction:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 2.5em;
    background: var(--secondary-color-dark);
    right: 0;
    margin-top: -9em;
  }
  .contract-interaction ul li {
    margin: 0 2em;
  }
  .features:before {
    content: '';
    position: absolute;
    width: 50%;
    height: 2.5em;
    background: var(--secondary-color-dark);
    left: 0;
    margin-top: -11em;
  }
  .features:after {
    content: '';
    position: absolute;
    width: 50%;
    height: 2.5em;
    background: var(--secondary-color-dark);
    right: 0;
    margin-top: 9em;
  }
  ul.features {
    display: block;
    margin-left: 5em;
  }
  ul.features li {
    font-size: 1.4em;
  }
  ul.features li:before {
    width: 30px;
    height: 30px;
  }
  .testimonials h2 {
    margin-bottom: 3em;
    margin-left: 0.5em;
  }
  .testimonials:after {
    margin-top: 9.5em;
  }
  .testimonials ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonials ul li {
    margin: 0 1em;
  }
  .contact-section {
    position: relative;
  }
  .contact-section .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .contact-right {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
  }
  .contact-right iframe {
    height: 100%;
  }
}

.not-have-metamask {
  border: 3px solid var(--metamask-color-orange);
  font-weight: 700;
  border-radius: 5em;
  margin-top: -0.2em;
}

.policy-details-list-items {
  display: block;
}
/*# sourceMappingURL=main.css.map */